.dash-container {
  text-align: center;
}
.dash-container h3 {
  color: antiquewhite;
}
.dash-container a {
  color: antiquewhite;
}
.dash-icon {
  padding-bottom: 4px;
}
.userDetails {
  text-align: left;
}
.toatalUsers {
  text-align: left;
  color: antiquewhite;
  font-weight: bold;
}
